// Here you can add other styles
.has-error {
    color: red;
    width: 100%;
}

.primaryButton {
    background-color: #63c2de !important;
}

.breadcrumb-item {
    display: none !important
}